@charset "UTF-8";
/* ===========================
# mixin
=========================== */
/* ===========================
#  common - 全体の共通するスタイル
=========================== */
@media screen and (max-width: 767px) {
  .is-pc {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .is-sp {
    display: none;
  }
}
body {
  font-family: "Rounded Mplus 1c", "YuGothic", "sans-serif";
  color: #111111;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
}

.section {
  margin-top: 60px;
  margin-bottom: 120px;
}
@media screen and (max-width: 767px) {
  .section {
    margin-top: 40px;
    margin-bottom: 60px;
    padding: 0 16px;
  }
}

.inner {
  max-width: 100%;
  margin: 0 auto;
  padding: 0 60px;
}
@media screen and (max-width: 767px) {
  .inner {
    padding: 0 16px;
  }
}

img {
  width: 100%;
  text-decoration: none;
}

/* ===========================
# utility
=========================== */
.u-title {
  font-size: 32px;
  font-weight: bold;
  letter-spacing: 1.6px;
}

.u-subTitle {
  margin-top: 23px;
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 1px;
  color: #5A8F8C;
}
.u-subTitle.-section2 {
  color: #869A5A;
}
.u-subTitle.-section3 {
  color: #A9895A;
}

.u-toTop {
  right: 36px;
  bottom: 57px;
  width: 16px;
  height: 57px;
  position: fixed;
  z-index: 100;
}

/* ===========================
# component
=========================== */
.c-contact {
  margin: 50px auto 0;
  display: inline-flex;
  padding: 16px 33px 16px 80px;
  background: #A65A74;
  color: #fff;
  border-radius: 0 30px 30px 0;
}
.c-contact:hover {
  opacity: 0.9;
}

.c-contact__fa {
  width: 23px;
  height: 21px;
}

.c-contact__text {
  font-weight: bold;
}

.c-lang {
  margin: 286px auto 0;
  justify-content: center;
  align-items: center;
  display: flex;
  width: 160px;
  height: 30px;
  background: #eeeeee;
  border-radius: 15px;
}

.c-lang__text {
  font-size: 10px;
  color: #111111;
  padding: 2px 10px;
  border-radius: 10px;
  background: #fff;
  margin-right: 10px;
}

.c-lang__en {
  font-size: 10px;
  color: #111111;
  padding: 2px 10px;
  border-radius: 10px;
}

.c-category {
  width: 100px;
  font-size: 10px;
  color: #fff;
}
.c-category.-section1 {
  padding: 6px 22px 4px;
  border-radius: 15px;
  background: #5A8F8C;
}
.c-category.-section2 {
  padding: 6px 22px 4px;
  border-radius: 15px;
  background: #869A5A;
}
.c-category.-section3 {
  padding: 6px 22px 4px;
  border-radius: 15px;
  background: #A9895A;
}

.c-btn {
  width: 186px;
  padding: 18px 60px 18px 40px;
  background: #5A8F8C;
  color: #fff;
  border-radius: 32px;
  position: relative;
}
.c-btn:hover {
  opacity: 0.9;
}
.c-btn::after {
  content: "";
  position: absolute;
  background: url(../image/arrow.png) no-repeat;
  width: 16px;
  height: 16px;
  right: 40px;
  top: 50%;
  transform: translateY(-50%);
}
.c-btn.-info {
  background: #fff;
  border: 2px solid #5A8F8C;
  color: #111111;
}
.c-btn.-info:hover {
  background: #5A8F8C;
  opacity: 0.2;
}
.c-btn.-info::after {
  content: "";
  position: absolute;
  background: url(../image/arrow-section1.png) no-repeat;
  width: 16px;
  height: 16px;
  right: 40px;
  top: 50%;
  transform: translateY(-50%);
}
.c-btn.-event {
  background: #fff;
  border: 2px solid #869A5A;
  color: #111111;
}
.c-btn.-event:hover {
  background: #869A5A;
  opacity: 0.2;
}
.c-btn.-event::after {
  content: "";
  position: absolute;
  background: url(../image/arrow-section2.png) no-repeat;
  width: 16px;
  height: 16px;
  right: 40px;
  top: 50%;
  transform: translateY(-50%);
}
.c-btn.-report {
  background: #fff;
  border: 2px solid #A9895A;
  color: #A9895A;
}
.c-btn.-report:hover {
  background: #A9895A;
  opacity: 0.2;
}
.c-btn.-report::after {
  content: "";
  position: absolute;
  background: url(../image/arrow-section3.png) no-repeat;
  width: 16px;
  height: 16px;
  right: 40px;
  top: 50%;
  transform: translateY(-50%);
}
.c-btn.-section2 {
  background: #869A5A;
}
.c-btn.-section2:hover {
  opacity: 0.8;
}
.c-btn.-section3 {
  background: #A9895A;
}
.c-btn.-section3:hover {
  opacity: 0.8;
}

.c-card {
  margin-right: 40px;
  width: 360px;
  height: 433px;
  background: #fff;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  border: 2px solid #869A5A;
}
.c-card:nth-child(n+4) {
  margin-top: 70px;
}
.c-card.-report {
  border: 2px solid #A9895A;
}
@media screen and (max-width: 767px) {
  .c-card {
    margin-right: 0;
    margin-top: 100px;
  }
  .c-card:nth-child(n+4) {
    margin-top: 100px;
  }
  .c-card:first-child {
    margin-top: 0;
  }
}

.c-card__img {
  margin: 0 20px;
  padding-top: 20px;
}
.c-card__img img {
  width: 320px;
  height: auto;
}

.c-card__content {
  margin: 16px 40px 0;
}

.c-card__category {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.c-card__date {
  font-size: 14px;
}

.c-card__text {
  margin-top: 16px;
  font-size: 20px;
  font-weight: bold;
  text-align: left;
}

.c-card__more {
  width: 186px;
  margin: 10px auto 0;
}

/* header
=========================== */
.l-header {
  display: none;
}
@media screen and (max-width: 767px) {
  .l-header {
    display: block;
    display: flex;
    padding: 0 20px;
    width: 768px;
    max-width: 100%;
  }
}

.p-header {
  height: 120px;
  width: 100%;
}

.p-header__logo {
  width: 144px;
  height: 60px;
  margin-top: 30px;
  margin-left: 20px;
  z-index: 24;
}
.p-header__logo img {
  width: 144px;
  height: 60px;
}

/* drawer
=========================== */
.p-drawer__icon {
  display: none;
}
@media screen and (max-width: 767px) {
  .p-drawer__icon {
    display: block;
    position: fixed;
    top: 42px;
    right: 36px;
    right: 80px;
    transition: transform 0.3s ease;
    z-index: 25;
  }
}

.p-drawer__bars {
  width: 48px;
  height: 36px;
  position: relative;
  z-index: 22;
  transition: transform 0.5s ease 0s;
}
.p-drawer__bars.is-open {
  right: 13px;
}
.p-drawer__bars.is-open .c-drawer__line:nth-child(1) {
  transform: rotate(-45deg);
  top: 50%;
}
.p-drawer__bars.is-open .c-drawer__line:nth-child(2) {
  display: none;
}
.p-drawer__bars.is-open .c-drawer__line:nth-child(3) {
  transform: rotate(45deg);
  top: 50%;
  width: 48px;
}

.p-drawer__line {
  content: "";
  position: absolute;
  width: 100%;
  height: 6px;
  background: #5A90A9;
}
.p-drawer__line.is-show {
  background: #5A90A9;
}
.p-drawer__line:nth-child(1) {
  top: 0%;
}
.p-drawer__line:nth-child(2) {
  width: 36px;
  top: 50%;
  transform: translateY(-50%);
}
.p-drawer__line:nth-child(3) {
  width: 24px;
  bottom: 0;
}

.p-drawer__content {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 100px;
  right: 0;
  background: #fff;
  z-index: 22;
  transform: translateX(105%);
  transition: transform 0.5s ease 0s;
}
.p-drawer__content.is-open {
  transform: translateX(0);
}

.p-drawer__lists {
  margin-top: 82px;
  margin-left: 64px;
}

.p-drawer__lists li {
  margin-top: 40px;
  margin-left: 41px;
  display: block;
  font-size: 24px;
  font-weight: 700;
  letter-spacing: 0.03em;
  color: #111111;
  position: relative;
}
.p-drawer__lists li:first-child {
  margin-top: 0;
}
.p-drawer__lists li::before {
  content: "◇";
  position: absolute;
  color: #111111;
  width: 20px;
  height: 20px;
  left: -32px;
  top: 25%;
  transform: translateY(-50%);
}

.p-drawer__button {
  margin-top: 64px;
  text-align: center;
}

.p-drawer__background {
  position: fixed;
  top: 52px;
  left: 0;
  width: 100%;
  height: 100%;
  background: #fff;
  opacity: 0.9;
  z-index: 21;
  display: none;
}
.p-drawer__background.is-open {
  display: block;
}

/* side-nav
=========================== */
.l-side {
  margin-left: 0;
  width: 16.667%;
  width: 320px;
  height: 100%;
  position: fixed;
  z-index: 100;
  padding-top: 54px;
}
@media screen and (max-width: 767px) {
  .l-side {
    display: none;
  }
}

.p-side__title {
  width: 100%;
  text-align: center;
}

.p-side__logo img {
  width: 160px;
  height: 67px;
}

.p-side__menu {
  margin-top: 40px;
  margin-left: 80px;
}

.p-side__nav {
  margin-bottom: 24px;
  font-weight: bold;
  font-family: "Rounded Mplus 1c";
  width: 240px;
  height: 42px;
  border-radius: 5px;
}
.p-side__nav:hover {
  color: #fff;
  background: #5A6B8F;
  position: relative;
}
.p-side__nav:hover::before {
  left: -20px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
}
.p-side__nav:hover.-top {
  background: #5A90A9;
}
.p-side__nav:hover.-info {
  background: #5A8F8C;
}
.p-side__nav:hover.-men {
  background: #5A8E6D;
}
.p-side__nav:hover.-ev {
  background: #869A5A;
}
.p-side__nav:hover.-re {
  background: #A9895A;
}

.p-side__contact {
  margin-top: 50px;
  margin-left: 80px;
  display: flex;
}

.p-side__footer {
  margin-top: 40px;
  text-align: center;
  font-size: 10px;
  letter-spacing: 0.02;
  color: #111111;
}

/* main
=========================== */
.l-main {
  margin-top: 0;
  background: url(../image/background.png) no-repeat;
  width: 1920px;
  max-width: 100%;
  height: 100vh;
  position: relative;
}
.p-main {
  margin-left: 320px;
  width: 83.333%;
}
.p-main video {
  margin-top: 0;
  width: 1520px;
  max-width: 100%;
  height: auto;
  border-radius: 0 0 20px 20px;
}

.p-main__video {
  position: relative;
  padding-bottom: 80%;
  height: 0;
  overflow: hidden;
}

.p-main__video iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 1520px;
  height: auto;
}

.p-main__news {
  content: "";
  position: absolute;
  bottom: 104px;
  left: 360px;
  width: 1440px;
  max-width: 100%;
  height: 64px;
  background: #fff;
  display: flex;
  border-radius: 10px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1019607843);
  align-items: center;
  z-index: 10;
}

.p-main__title {
  margin-left: 40px;
  font-weight: bold;
}
.p-main__title::after {
  content: "";
  position: absolute;
  padding-right: 20px;
  border-right: 1px solid #111;
  width: 1px;
  height: 20px;
}

.p-main__date {
  margin-left: 40px;
  margin-right: 31px;
}

.p-main__text {
  margin-left: 20px;
}

/* information
=========================== */
.l-info {
  margin: 160px auto 0;
}
@media screen and (max-width: 767px) {
  .l-info {
    margin-left: 8%;
  }
}

.l-info__background {
  margin-left: 320px;
  background: rgba(90, 143, 140, 0.1);
  width: 1600px;
  height: 525px;
  height: auto;
  padding-bottom: 80px;
  border-radius: 20px 0 0 20px;
}
@media screen and (max-width: 767px) {
  .l-info__background {
    margin-top: 290px;
    margin-left: 70px;
  }
}

.p-info {
  margin-left: 80px;
  padding-top: 86px;
  display: flex;
}
@media screen and (max-width: 767px) {
  .p-info {
    margin-left: 0;
    padding-top: 0;
    flex-direction: column;
  }
}

@media screen and (max-width: 767px) {
  .p-info__title {
    margin-top: -100px;
    text-align: center;
    width: 768px;
    max-width: 100%;
  }
}

.p-info__more {
  margin-top: 40px;
}
.p-info__cards {
  display: flex;
  align-items: center;
  margin-top: -158px;
  margin-left: 92px;
}
@media screen and (max-width: 767px) {
  .p-info__cards {
    margin-left: -70px;
    margin-top: 100px;
    overflow: hidden;
  }
}

.p-info__case {
  width: 360px;
  height: 463px;
  margin-right: 40px;
}

.p-info__card {
  width: 360px;
  height: 433px;
  background: #fff;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
}

.p-card__img {
  margin: 0 20px;
  padding-top: 20px;
}
.p-card__img img {
  width: 320px;
  height: auto;
}

.p-card__content {
  margin: 16px 40px 0;
}

.p-card__category {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.p-card__date {
  font-size: 14px;
}

.p-card__text {
  margin-top: 16px;
  font-size: 20px;
  font-weight: bold;
}

.p-info__card-more {
  width: 186px;
  margin: 18px auto 0;
}

/* about
=========================== */
.l-about {
  margin-top: 120px;
}
@media screen and (max-width: 767px) {
  .l-about {
    margin-top: 160px;
  }
}

.p-about {
  display: flex;
  width: 1600px;
  max-width: 100%;
}
@media screen and (max-width: 767px) {
  .p-about {
    display: block;
  }
}

.p-about__img {
  margin-left: 320px;
  margin-right: 10px;
}
.p-about__img img {
  width: 755px;
  max-width: 100%;
  height: 960px;
  border-radius: 20px;
}
@media screen and (max-width: 767px) {
  .p-about__img {
    margin-left: 0;
    margin-right: 0;
  }
  .p-about__img img {
    height: auto;
    border-radius: 0px;
  }
}

.p-about__contents {
  background: rgba(90, 144, 169, 0.1);
  width: 755px;
  max-width: 100%;
  height: 960px;
  border-radius: 20px;
}
@media screen and (max-width: 767px) {
  .p-about__contents {
    border-radius: 0px;
    height: auto;
  }
}

.p-about__content {
  margin: 148px 76px 0;
}
@media screen and (max-width: 767px) {
  .p-about__content {
    margin: 0;
    padding: 80px 60px 92px;
  }
}

.p-about__title {
  font-size: 32px;
  font-weight: bold;
}
.p-about__text {
  margin-top: 50px;
}
.p-about__footer {
  margin-top: 46px;
  text-align: right;
  font-weight: bold;
}

/* event
=========================== */
.l-event {
  margin-left: 320px;
  margin-top: 126px;
  text-align: center;
}
@media screen and (max-width: 767px) {
  .l-event {
    margin-left: 0;
    margin-top: 173px;
  }
}

.l-event__background {
  margin-top: 141px;
  border-radius: 20px;
  background: rgba(134, 154, 90, 0.1);
  width: 1200px;
  max-width: 100%;
  height: auto;
  padding-bottom: 120px;
}
@media screen and (max-width: 767px) {
  .l-event__background {
    margin-top: -16px;
    padding-bottom: 234px;
    width: 80%;
  }
}

.p-event {
  margin: 0 auto;
  width: 1600px;
  display: flex;
}
@media screen and (max-width: 767px) {
  .p-event {
    display: block;
    max-width: 100%;
  }
}

.p-event__dummy {
  padding-left: 10px;
}

.p-event__cards {
  margin-top: -80px;
  margin-left: 180px;
  width: 1200px;
  max-width: 100%;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
@media screen and (max-width: 767px) {
  .p-event__cards {
    position: relative;
    display: block;
    margin-top: 0;
    margin-left: 0;
    padding: 80px 60px 0;
  }
}

.p-event__more {
  margin-left: 171px;
  margin-top: -30px;
  width: 1200px;
  max-width: 100%;
}
@media screen and (max-width: 767px) {
  .p-event__more {
    margin-left: 0;
  }
}

.p-event__center {
  display: inline-block;
  text-align: center;
}

/* report
=========================== */
.l-report {
  margin-left: 320px;
  margin-top: 150px;
  text-align: center;
}
@media screen and (max-width: 767px) {
  .l-report {
    margin-left: 0;
    margin-top: 220px;
  }
}

.l-report__background {
  margin-top: 141px;
  margin-left: 320px;
  background: rgba(134, 154, 90, 0.1);
  width: 1280px;
  height: auto;
  padding-bottom: 120px;
  border-radius: 20px;
}
@media screen and (max-width: 767px) {
  .l-report__background {
    margin-top: -16px;
    padding-bottom: 234px;
    margin-left: 120px;
    width: 80%;
  }
}

.p-report {
  margin: 0 auto;
  width: 1600px;
  display: flex;
}
@media screen and (max-width: 767px) {
  .p-report {
    display: block;
    max-width: 100%;
  }
}

.p-report__dummy {
  padding-left: 10px;
}

.p-report__cards {
  margin-top: -80px;
  margin-left: -140px;
  width: 1200px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
@media screen and (max-width: 767px) {
  .p-report__cards {
    position: relative;
    display: block;
    margin-top: 0;
    margin-left: -120px;
    padding: 80px 60px 0;
  }
}

.p-report__more {
  margin-left: 171px;
  margin-top: -30px;
  width: 1200px;
}
@media screen and (max-width: 767px) {
  .p-report__more {
    margin-left: 0;
    max-width: 100%;
  }
}

.p-report__center {
  display: inline-block;
  text-align: center;
}

/* banner
=========================== */
.l-banner {
  margin-top: 150px;
  margin-left: 320px;
}
@media screen and (max-width: 767px) {
  .l-banner {
    margin-top: 220px;
    margin-left: 0;
    padding: 0 8%;
  }
}

.p-banner {
  margin: 0 auto;
  border-top: 1px solid #D6D6D6;
  width: 1520px;
  max-width: 100%;
  padding: 120px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
@media screen and (max-width: 767px) {
  .p-banner {
    padding: 160px 0;
    display: block;
  }
}

.p-banner__item {
  width: 360px;
  max-width: 100%;
  height: 120px;
  padding: 10px;
  border: 2px solid #D6D6D6;
  border-radius: 20px;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
  margin-right: 30px;
  position: relative;
}
.p-banner__item:nth-child(3n) {
  margin-right: 0;
}
.p-banner__item:nth-child(n+4) {
  margin-top: 30px;
}
.p-banner__item img {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.p-banner__item img.p-banner_1 {
  width: 320px;
  height: 85.71px;
  max-width: 100%;
  max-width: 100%;
}
.p-banner__item img.p-banner_2 {
  width: 201px;
  height: 100px;
  max-width: 100%;
  max-width: 100%;
}
.p-banner__item img.p-banner_3 {
  width: 320px;
  height: 50.88px;
  max-width: 100%;
  max-width: 100%;
}
@media screen and (max-width: 767px) {
  .p-banner__item {
    border-radius: 40px;
    margin-right: 0;
    margin-top: 20px;
  }
  .p-banner__item:nth-child(n+4) {
    margin-top: 20px;
  }
  .p-banner__item:first-child {
    margin-top: 0;
  }
}

/* footer
=========================== */
.l-footer {
  margin-left: 320px;
  width: 1520px;
  max-width: 100%;
  height: 360px;
  background: #546E7A;
  border-radius: 20px;
}
@media screen and (max-width: 767px) {
  .l-footer {
    margin-left: 0;
    border-radius: 0 40px 0 0;
  }
}

.p-footer {
  margin-left: 190px;
  padding-top: 120px;
  color: #fff;
  line-height: 1.75;
}
@media screen and (max-width: 767px) {
  .p-footer {
    margin-top: 0;
    margin-left: 0;
    padding: 80px 8%;
  }
}

.p-footer__name {
  font-weight: bold;
}

.p-footer__address {
  margin-top: 26px;
}

.p-footer__copyright {
  display: none;
}
@media screen and (max-width: 767px) {
  .p-footer__copyright {
    display: block;
    margin-top: 20px;
    color: #fff;
    opacity: 0.4;
    letter-spacing: 0.4px;
  }
}

/* swiper
=========================== */
.temp {
  margin-top: 30px;
  width: 1160px;
  height: 5px;
  background: rgba(17, 17, 17, 0.1);
  border-radius: 20px;
  position: relative;
}

.scroll {
  background: #5A8F8C;
  width: 80px;
  height: 30px;
  border-radius: 15px;
  margin-top: -15px;
  position: relative;
}
.scroll::before {
  content: "";
  position: absolute;
  background: url(../image/arrow-both.png) no-repeat;
  width: 60px;
  height: 10px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.scroll:hover {
  opacity: 0.8;
}